body{
    background-color:#FEFBF2;
    width: 375px;
    height: 667px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../image/Group\ 17.png");
    background-repeat: no-repeat;
    background-size: 375px 667px;
}

#hamburger-menu {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20px;
    width: 32px;

    position: absolute;
    top: 38px;
    left: 328px;
}

#heading {
    background-color: transparent;
    font-family: 'specify';
    color: #ffffff;
    letter-spacing: 0;
    line-height: 25px;
    min-height: 37px;
    min-width: 236px;
    white-space: nowrap;
    font-style: normal;
    font-size: 20px;

    top: 350px;
    left: 94px;
    letter-spacing: 0.00px;
    line-height: 25px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: auto;
    height: auto;


}

.text {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

    letter-spacing: 0;
    line-height: 20px;
    min-height: 125px;
    min-width: 263px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 13px;

    background-color: transparent;
    height: auto;
    left: 65px;
    position: absolute;
    text-align: center;
    top: 398px;
    width: auto;
    opacity: 0.91;

}

@font-face {
    font-family: 'specify';
    src: url("../fonts/specifypersonal-expbold-webfont.woff") format('woff');
    src: url("../fonts/specifypersonal-expbold-webfont.woff2") format('woff2');
}

.joinchallenge {
    background-color: #C396CD;
    border-radius: 19px;
    cursor: pointer;
    left: 60px;
    position: absolute;
    top: 538px;
    width: 255px;

    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    letter-spacing: 0.00px;

    padding-top: 17px;
    padding-bottom: 17px;

    text-align: center;
    white-space: nowrap;
}

#scrollmore {

    background-color: transparent;
    left: 177px;
    object-fit: cover;
    position: absolute;
    top: 628px;
    animation-name: looping;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes looping {
    0% {top: 628px;}
    50%{top: 648px;}
    100%{top: 628px;}
}

#logo {

    left: 19px;
    position: absolute;
    top: 25px;

}

#guitarpic{
    background-color: transparent;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 708px;

}

#watchvideo-header{
    background-color: transparent;
    font-family: 'specify';
    color: #4B2878;
    letter-spacing: 0;
    line-height: 25px;
    min-height: 37px;
    min-width: 236px;
    white-space: nowrap;
    font-style: normal;
    font-size: 20px;

    top: 898px;
    left: 74px;
    letter-spacing: 0.00px;
    line-height: 25px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: auto;
    height: auto;
}

.watch-text{
    color: #4B2878;
    font-family: 'Poppins', sans-serif;

    letter-spacing: 0;
    line-height: 20px;
    min-height: 125px;
    min-width: 263px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 13px;

    background-color: transparent;
    height: auto;
    left: 55px;
    position: absolute;
    text-align: center;
    top: 938px;
    width: auto;
    opacity: 0.91;
}

.watchnow{
    background-color: #6B7CBC;
    border-radius: 19px;
    cursor: pointer;
    left: 60px;
    position: absolute;
    top: 1018px;
    width: 255px;

    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    letter-spacing: 0.00px;

    padding-top: 17px;
    padding-bottom: 17px;

    text-align: center;
    white-space: nowrap;
}

#mom-vibing{
    left: 20px;
    top: 1128px;
    background-color: transparent;
    object-fit: cover;
    position: absolute;

}


#inspired{
    background-color: transparent;
    font-family: 'specify';
    color: #4B2878;
    letter-spacing: 0;
    line-height: 25px;
    min-height: 37px;
    min-width: 236px;
    white-space: nowrap;
    font-style: normal;
    font-size: 20px;

    top: 1478px;
    left: 104px;
    letter-spacing: 0.00px;
    line-height: 25px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    width: auto;
    height: auto;
}

.inspired-text{
    color: #4B2878;
    font-family: 'Poppins', sans-serif;

    letter-spacing: 0;
    line-height: 20px;
    min-height: 125px;
    min-width: 263px;
    white-space: nowrap;
    font-weight: 400;
    font-size: 13px;

    background-color: transparent;
    height: auto;
    left: 45px;
    position: absolute;
    text-align: center;
    top: 1518px;
    width: auto;
    opacity: 0.91;
}

.checkgallery{
    background-color: #6B7CBC;
    border-radius: 19px;
    cursor: pointer;
    left: 60px;
    position: absolute;
    top: 1598px;
    width: 255px;

    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

    letter-spacing: 0.00px;

    padding-top: 17px;
    padding-bottom: 17px;

    text-align: center;
    white-space: nowrap;
}


#women {
    background-color: transparent;
    left: 0px;
    object-fit: cover;
    position: absolute;
    top: 1696px;

}

#menu {
    position: absolute;
    background-color:#6b7abd;
    width: 375px;
    height: 667px;
    margin-top: -5px;
}

#exit {
    background-color: transparent;
    height: 31px;
    left: 319px;
    object-fit: cover;
    position: absolute;
    top: 29px;
    width: 31px;
}



#menupage{
    background-color: transparent;
    height: auto;
    left: 47px;

    position: absolute;
    text-align: center;
    top: 160px;
    width: auto;
     

    font-family: 'specify';
    color: #ffffff;
    letter-spacing: 0;
    line-height: 60px;
    white-space: nowrap;
    font-style: normal;
    font-size: 25px;
    
}

a {
    text-decoration: none;
    color: #ffffff;
}



.whitecircle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 70px;
    top: 25px;
}

.whitecircle2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 205px;
    top: 25px;
}

#line{
    height: 1px;
    left: 46px;
    object-fit: cover;
    position: absolute;
    background-color: white;
    top: 445px;
    width: 284px;
}

#others{
    background-color: transparent;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 103px;
    letter-spacing: 0.00px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 469px;
    white-space: nowrap;
    width: auto;
}

